@font-face {
    font-family:'pdb' ;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'pdr' ;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'pb' ;
    src: url(../fonts/PTSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:'pr' ;
    src: url(../fontsPlayfairDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'pnbjb' ;
    src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
    font-weight: 400;
}