*{
    padding: 0;
    margin: 0;
}
ul{
    list-style:none;
}
a{

    text-decoration: none;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
}
body{
    background: var(--background);
}

:root{
    --background:#000000;
    --font-1:'pdb';
    --font-2:'pr';
    --grey:#969696;
    --font-3:'pnbjb';
}
.top-nav{
    background: var(--background);
    display: flex;
    justify-content: space-around;
    
}
.top-nav__p{
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: var(--grey);
}
.top-nav__p2{
    font-family: var(--font-2);
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #969696;
}
.top-nav__first-page{
    display: flex;
    column-gap: 16px;
    padding: 22px 0 22px 0;
align-items: center;
justify-content: center;
}
.top-nav__first-page img{
   
    width: 14px;
    height: 14px;
}
.top-nav__second-page{
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 22px 0 22px 0;
    justify-content: center;
}
.header__nav{
    background: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__list{
    display: flex;
    
}
.logo{
   padding: 30px 0;
}
.nav__icons{
    display: flex;
    column-gap: 43px;
}
.header__link{
    font-family: var(--font-2);
font-weight: 400;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
padding: 31px 20px;
transition: 0.5s
}
.header__link:hover{
   background: #1F1F1F;
}
.header-nav__leader{
    display: flex;
    column-gap: 62px;
}
.header__banner{
    background: url(../images/Rectangle\ 3.png) center /cover;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header__title{
    font-family:var(--font-3);
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
    border-bottom:1px solid white;
    margin-bottom: 7px;
    text-align: center;
}
.header__span{
    font-family:var(--font-3);

font-weight: 400;
font-size: 22px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
text-align: center;
color: #FFFFFF;
}
.header__center-leader{
    border: 4px solid #FFFFFF;
    padding: 95px 68px;
    margin-bottom: 80px;
}
.header__banner p{
    font-family: var(--font-2);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
width: 730px;
height: 96px;

}
.inscription{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__top-cards{
  display: flex;
}
.main__top-card{
    background: var(--background);
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
   min-height: 730px;
}
.main__top-card:nth-child(2){
    background: url(../images/Rectangle\ 8.png) center no-repeat;
    max-width: 880px;
    width: 100%;
    object-fit: cover;
    
}
.main__top-card:nth-child(1){
    
    min-width: 880px;
    width: 100%;
}
.main__card-title{
    font-family: var( --font-1);
font-weight: 700;
font-size: 36px;
line-height: 48px;


text-transform: uppercase;
color: #FFFFFF;
margin-top: 103px;
position: absolute;
border-bottom: 1px solid white;
padding-bottom: 30px;
left: 400px;
top: 0;
margin: 103 auto;

}

.clock{
   
grid-template-columns: repeat(3, 260px);
grid-template-rows: 325px;


margin-left: 50px;
margin-top: 5%;
margin-bottom: 104px;


}


.main__top-img{
    background: #191B1C;
    padding: 55px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__top-text h3{
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
margin: 25px 0 10px 0;
}
.main__top-text span{
    font-family:var(--font-1);
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #D0D0D0;
}
.inscription{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__top-text-2 h2{
    font-family: var(--font-1);
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    position: relative;
    margin-bottom: 30px;
    
}
.main__top-text-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  
}

.main__top-card{
    display: flex;
    align-items: end;
   
}
.main__top-text2 span {
    position: relative;
    width: 100%;
    height: 1px;
    display: block;
}

.text::before{
    content: '';
    width: 120px;
    height: 1px;
    background: white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.main__top-text-2 a{
    display: block;
margin-top: 52px;
font-family: var(--font-2);
width: 82px;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
border: 1px solid #FFFFFF;
padding: 12px 28px;
}
.main__second-cards{
    display: flex;
}
.main__second-card:nth-child(1){
    background: center/ cover;
    max-width:  1040px ;
    width: 100%;
}
.main__second-card:nth-child(2){
    background: #000000;
    max-width:880px;
    width: 100%;
}
.text{
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 30px;
}
.main__second-card span::before{
    content: '';
    width: 120px;
    height: 1px;
    background: white;
    display: block;
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    
    
}

.main__second-card img{
    max-width: 880px;
    width: 100%;
}
.main__second-card p{
    font-family: var(--font-2);
font-weight: 400;
font-size: 14px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
max-width:471px; 
margin-top: 40px;
}
.main__second-card a{
    display: block;
    margin-top: 73px;
    font-family: var(--font-2);
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
border: 1px solid #FFFFFF;
padding: 12px 28px;
width: 255px;
}
.main__second-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__big-center-card{
    background: #000000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.text-leader{
    padding-top: 150px;
}
.pupu-text::before{
    content: '';
    width: 120px;
    height: 1px;
    background: white;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
}
.pupu-text{
    position: relative;
    margin-bottom: 30px;
}
.clocks{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows:405px 405px ;
    
    row-gap: 40px;
}
.main__top-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nunu-text{
    margin-top: 240px;
    position: relative;
}
.nunu-text::after{
    content: '';
    width: 120px;
    height: 1px;
    background: white;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
}
.images{
    display: flex;
    margin-top: 40px;
    align-items: center;
    column-gap: 30px;
}

.footer__content{
    background: url(../images/footer.png) center/cover;
    min-height: 400px;
  display: flex;
  align-items: center;
 

}

.leader{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap:   99px 60px;
}
.first-column h2{
    font-family: var(--font-1);
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-transform: uppercase;
color: #FFFFFF;
}
.first-column p{
    font-family: var(--font-2);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
width: 350px;
margin-top: 40px;
}
.first-column{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.second-column h2{
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
text-transform: uppercase;
color: #FFFFFF;
}
.a{
   display:flex;
   flex-wrap: wrap;
   
}
.a a{
    font-family: var(--font-2);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #D0D0D0;
background: #0F0F0F;
padding: 10px 20px;
margin: 20px;
}
.second-column h2{
    margin-bottom: 40px;
}
.second-column{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}
.third-column h2{
    font-family: var(--font-1);
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-transform: uppercase;
color: #FFFFFF;
}
.third-column p{
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    width: 350px;
    margin: 40px 0 47px 0;
}
.footer__form{
    display: flex;
    width: 210px;
    
    height: 42px;

}
.footer__input{
    background: rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    color: #D9D9D9;

}
button{
    background: #0F0F0F;
    color: #FFFFFF;
padding: 10px 20px;
}